@import 'variaveis.css';


.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: var(--primaria);
    padding: 0.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 20%;
    border-radius: 5px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
}

.popup-conteudo{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 20%;
    align-items: center;
    text-align: center;
}

.popup-titulo{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    font-family: var(--fonte);
    font-weight: 800;
    font-size: 18px;
    text-align: center;
    color: var(--quartiaria);
}

.popup-texto{
    font-family: var(--fonte);
    font-weight: 400;
    font-size: 12px;
    color: var(--quartiaria);
}

.acoes-popup{
    display: flex;
    justify-content: center;
    gap: 2%;
    align-items: center;
    width: 100%;
}

.button-popup{
    background: var(--terciaria);
    padding: 3% 6%;
    border-radius: 15%;
    text-decoration: none;
    font-family: var(--fonte);
    font-weight: 600;
    font-size: 12px;
    color: var(--quartiaria);
}

