@import 'variaveis.css';


.container{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.menu{
    padding: 4% 2%;
    width: 15%;
    height: 100vh;
    background: var(---vermelho);
    display: flex;
    flex-direction: column;
    gap: 30%;
    align-items: center;
    text-align: center;
}

.fonte-menu{
    font-family: var(--fonte);
    font-weight: 800;
    color: var(---verde);
    font-size: 26px;
}

.menu-opcao{
    text-decoration: none;
}

.menu-opcao:hover{
    color: var(---amarelo);
    text-decoration: underline;
}


.novos-lancamentos{
    background: var(---azul);
    width: 85%;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secao-novos-lancamentos{
    background: var(---amarelo);
    width: 100%;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
}

.form-lancamentos{
    width: 100%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lancamentos-caixa{
    margin: 2% 0;
    display: flex;
    flex-direction: column;
}

.lancamentos-valor-tipo{
    display: flex;
    gap: 10%;
}

.valor{
    width: 70%;
}

.tipo{
    width: 20%;
}

.label-lancamento{
    font-family: var(---fonte);
    font-weight: 800;
    font-size: 22px;
    color: var(---verde);
    padding-bottom: 5px;
}

.input-lancamento{
    padding: 8px;
    background: var(---verde);
    border: 2px solid var(---azul);
    border-radius: 10px;
    font-family: var(---fonte);
    font-weight: 400;
    color: var(---azul);
}

.lancamentos-data{
    display: flex;
    justify-content: space-between;
}

.data{
    width: 25%;
}

.button:hover{
    color: var(---vermelho);
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.6);
}

.button{
    background: var(---verde);
    padding: 8px 0;
    margin-top: 4%;
    border: 2px solid var(---azul);
    border-radius: 10px;
    font-family: var(---fonte);
    font-weight: 800;
    font-size: 32px;
    color: var(---azul);
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}

.titulo-lancamento{
    font-family: var(---fonte);
    font-weight: 800;
    font-size: 42px;
    text-align: center;
    color: var(---verde);
    padding-bottom: 5px;
}


.rodape{
    background: var(---amarelo);
    padding: 1%;
    text-align: center;
}

.rodape-fonte{
    font-family: var(--fonte);
    font-weight: 400;
    color: var(---verde);
    font-size: 26px;
}

.rodape-conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
}

.rodape-link{
    text-decoration: none;
}

.rodape-link:hover{
    color: var(---vermelho);
    text-decoration: underline;
}