@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --fonte: 'Montserrat', sans-serif;
    --primaria: #735F32;
    --secundaria: #000000;
    --terciaria: #282A3A;
    --quartiaria: #C69749;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}